### 라이브러리

- Finance Datareader
    - https://financedata.github.io/posts/finance-data-reader-users-guide.html
    
- Yfinance
    - https://github.com/ranaroussi/yfinance
    
    
### 문제

- 너무 느림.


### 라이브러리 설치

```bash
!pip3 install finance-datareader
!pip3 install html5lib
!pip3 install yfinance
```

In [1]:
import numpy as np
import pandas as pd

import FinanceDataReader as fdr
import yfinance as yf

import datetime
import pytz

from tqdm import tqdm

In [2]:
def get_date(days_window):

    date_curr = datetime.datetime.now(tz=pytz.timezone('EST'))
    str_date_ny_curr = str(date_curr)[:10]
    str_date_ny_window = str(date_curr - datetime.timedelta(days=days_window))[:10]
    
    return str_date_ny_window, str_date_ny_curr

In [3]:
def get_pennystock_list(target_price, start_date, end_date):

    dict_penny_stock = {}

    for row in tqdm(nasdaq_df.itertuples()):
        symbol = row[1]
        try:       
            ticker = yf.Ticker(symbol)
            data = ticker.history(start=start_date, end=end_date)
            avg_price = data['Close'].mean()
            if avg_price < target_price:
                dict_penny_stock.update({symbol:data.to_dict()})
        except (IndexError, ValueError, KeyError) as e:
            pass
        
    return dict_penny_stock

In [4]:
start_date, end_date = get_date(days_window=5)

In [5]:
nasdaq_df = fdr.StockListing("NASDAQ")
nasdaq_df

100%|██████████| 3473/3473 [00:04<00:00, 748.32it/s]

     Symbol                         Name        Industry IndustryCode
0      AAPL                    Apple Inc  컴퓨터, 전화 및 가전제품       571060
1      MSFT               Microsoft Corp   소프트웨어 및 IT서비스       572010
2      AMZN               Amazon.com Inc         다양한 소매업       534020
3        FB         Facebook Inc Class A   소프트웨어 및 IT서비스       572010
4      TSLA                    Tesla Inc    자동차 및 자동차 부품       531010
...     ...                          ...             ...          ...
3468  NVSAU   New Vista Acquisition Corp          기타 금융업       556010
3469   ABGI       ABG Acquisition I Corp          기타 금융업       556010
3470  PFDRU  Pathfinder Acquisition Corp          기타 금융업       556010
3471   VRPX   Virpax Pharmaceuticals Inc  생명과학 및 메디컬 리서치       562020
3472  SPTKU   SportsTek Acquisition Corp          기타 금융업       556010

[3473 rows x 4 columns]

In [6]:
target_price = 2

In [7]:
penny_stock = get_pennystock_list(target_price, start_date, end_date)

1533it [07:56,  3.44it/s]

- INAQ: No data found for this date range, symbol may be delisted

1669it [08:39,  2.97it/s]

- INAQU: No data found for this date range, symbol may be delisted

2370it [12:14,  3.56it/s]

- GWACU: No data found for this date range, symbol may be delisted

2888it [14:52,  3.49it/s]

- MCAC: No data found for this date range, symbol may be delisted

2974it [15:18,  3.29it/s]

- MCACU: No data found for this date range, symbol may be delisted

3456it [17:46,  3.42it/s]

- MAXNV: No data found, symbol may be delisted

3457it [17:46,  3.53it/s]

- SPWRV: No data found, symbol may be delisted

3458it [17:47,  3.58it/s]

- MCACR: No data found for this date range, symbol may be delisted

3459it [17:47,  3.64it/s]

- SPEL: No data found, symbol may be delisted

3461it [17:48,  3.53it/s]

- MVNR: No data found for this date range, symbol may be delisted

3462it [17:48,  3.43it/s]

- CMPX: No data found, symbol may be delisted

3473it [17:51,  3.24it/s]

In [8]:
result = nasdaq_df[nasdaq_df['Symbol'].isin(penny_stock)].reset_index(drop=True)

In [9]:
dict_ = {}
for key in penny_stock.keys():
    dict_.update({key : np.mean(list(penny_stock[key]['Close'].values()))})

result['Avg Closed'] = list(dict_.values())

In [10]:
result

,Symbol,Name,Industry,IndustryCode,Avg Closed
0,SNDL,Sundial Growers Inc,제약,562010,1.996667
1,VEON,VEON Ltd ADR,통신 서비스,574010,1.793333
2,TXMD,TherapeuticsMD Inc,제약,562010,1.873333
3,CTRM,Castor Maritime Inc,화물 및 물류 서비스,524050,1.343333
4,NAKD,Naked Brand Group Ltd,섬유 및 의류,532020,1.360000
...,...,...,...,...,...
89,ZGYHR,Yunhong International Rights,기타 금융업,556010,0.670000
90,ADOCR,Edoc Acquisition Corp,기타 금융업,556010,0.580000
91,BREZR,Breeze Holdings Acquisition Corp,기타 금융업,556010,0.328000
92,BENER,Benessere Capital Acquisition Corp,기타 금융업,556010,0.409000
93,VTAQR,Ventoux CCM Acquisition Corp,기타 금융업,556010,0.402000

In [11]:
result.to_excel('pennystock.xlsx', index=False)